# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
docs/CEA-861-E (Original).pdf
docs/CEA-861-D (Original).pdf
docs/IEC-60958-1.pdf
index_OLD.html
docs/HDMI 2.0 FAQ Archive_files/adopter_sign_in.gif
docs/HDMI 2.0 FAQ Archive.html
docs/HDMI 2.0 FAQ Archive_files/chinese_link.gif
docs/HDMI 2.0 FAQ Archive_files/sign_up_updates.jpg
docs/HDMI 2.0 FAQ Archive_files/HDMI_logo_37.gif
docs/HDMI 2.0 FAQ Archive_files/header_manufacturers.jpg
docs/HDMI 2.0 FAQ Archive_files/jquery-1.6.2.min.js.download
docs/HDMI 2.0 FAQ Archive_files/search_btn.gif
docs/HDMI 2.0 FAQ Archive_files/style.css
bandwidth/CTA861-Simplified.txt
bandwidth/test.txt
