@font-face {
    font-family: Inconsolata;
    src: url("../fonts/Inconsolata-Regular.ttf") format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Inconsolata;
    src: url("../fonts/Inconsolata-Bold.ttf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-Thin.ttf") format('truetype');
    font-weight: 100;
    font-style:  normal;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-ThinItalic.ttf") format('truetype');
    font-weight: 100;
    font-style:  italic;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-ExtraLight.ttf") format('truetype');
    font-weight: 200;
    font-style:  normal;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-ExtraLightItalic.ttf") format('truetype');
    font-weight: 200;
    font-style:  italic;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-Light.ttf") format('truetype');
    font-weight: 300;
    font-style:  normal;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-LightItalic.ttf") format('truetype');
    font-weight: 300;
    font-style:  italic;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style:  normal;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-RegularItalic.ttf") format('truetype');
    font-weight: 400;
    font-style:  italic;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style:  normal;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-MediumItalic.ttf") format('truetype');
    font-weight: 500;
    font-style:  italic;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style:  normal;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-SemiBoldItalic.ttf") format('truetype');
    font-weight: 600;
    font-style:  italic;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style:  normal;
}

@font-face {
    font-family: IBM Plex Sans;
    src: url("../fonts/IBMPlexSans-BoldItalic.ttf") format('truetype');
    font-weight: 700;
    font-style:  italic;
}

html, body {
    margin:             0;
    height:             100%;
    padding:            0;
    background-color:   #1E1E1E;
    color:              #FFFFFF;
}

body {
    font-family:        "Inconsolata", "Consolas", "Lucida Console", Monospace;
    font-size:          18px;
    line-height:        120%;
    min-height:         100%;
    overflow-y:         scroll;
}

.number {
    font-family:        "Inconsolata", "Consolas", "Lucida Console", Monospace;
    font-size:          100%;
}

div.wrapper {
    min-height:         100%;
    position:           relative;
}

div.main {
    border:             0px solid transparent;
    font-size:          100%;
    padding-bottom:     48px;
    margin-left:        auto;
    margin-right:       auto;
}

div.footer {
    width:              100%;
    position:           absolute;
    bottom:             0;
    left:               0;
    vertical-align:     middle;
    background-color:   #323232;
    cursor:             pointer;
    min-width:          512px;
    padding-top:        10px;
    padding-bottom:     10px;
    font-family:        "Inconsolata", "Consolas", "Lucida Console", Monospace;
    font-size:          15px;
}
div.footer a {
    color:              #888888;
    text-decoration:    none;
    vertical-align:     middle;
    padding:            10px;
}

div.header {
    font-family:        "Inconsolata", "Consolas", "Lucida Console", Monospace;
    /* font-family:        "IBM Plex Sans"; */
    line-height:        120%;
    font-weight:        bold;
    font-size:          16px;
    padding-left:       16px;
    padding-right:      16px;
    padding-top:        12px;
    padding-bottom:     0px;
    min-width:          480px;
}
div.header a {
    cursor:             pointer;
    text-decoration:    none;
    color:              #FFFFFF;
}
div.header i.back_arrow {
    transform:rotate(90deg) scale(0.75);
    line-height:0;
    position:relative;
    bottom:-0.2em;
}

div.title {
    font-family:        "IBM Plex Sans", sans-serif;
    font-weight:        400;
    font-size:          100%;
    margin-left:        auto;
    margin-right:       auto;
    text-align:         center;
    background-color:   #323232;
    padding:            12px;
}

span.title {
    font-weight:        bold;
}

input {
    font-family:        "Inconsolata", "Consolas", "Lucida Console", Monospace;
    font-weight:        normal;
    font-size:          85%;
    padding:            4px;
    text-align:         center;
    height:             25px;
}

input[type="text"] {
    border:             1px solid #323232;
    background-color:   #272727;
    color:              #FFFFFF;
}

input.res_input {
    width:              50px;
}

table {
    margin-left:        auto;
    margin-right:       auto;
    border:             0px solid black;
}

td {
    padding:            8px;
    vertical-align:     middle;
    border:             solid 1px transparent;
}

td.label {
    font-family:        "IBM Plex Sans", sans-serif;
    font-weight:        200;
    line-height:        120%;
    color:              #BBBBBB;
    min-width:          192px;
    text-align:         right;
}

td.result {
    font-weight:        normal;
    font-size:          85%;
    min-width:          120px;
    width:              100%;
}

a:link {
    color:              #777777;
    text-decoration:    none;
}

a:visited {
    color:              #777777;
    text-decoration:    none;
}

a:hover {
    color:              #000000;
    text-decoration:    underline;
}

a:active {
    color:              #000000;
    text-decoration:    underline;
}

sup {
    vertical-align:     baseline;
    position:           relative;
    top:                -0.45em;
    line-height:        0;
    font-size:          75%;
}

sub {
    vertical-align:     baseline;
    position:           relative;
    top:                0.3em;
    line-height:        0;
}

span.res_x {
    font-family:        'Courier New';
    font-size:          10px;
    vertical-align:     baseline;
    position:           relative;
    top:                -0.1em;
    line-height:        1;
}

span.ratio {
    font-family:        'Courier New';
    font-size:          14px;
    vertical-align:     baseline;
    position:           relative;
    font-weight:        bold;
    line-height:        1;
}

hr {
    height:             1px;
    border-width:       0;
    color:              #888888;
    background-color:   #888888;
}